@font-face {
  font-family: 'Fellix';
  src: url('../fonts/Fellix-Bold.woff2') format('woff2'),
      url('../fonts/Fellix-Bold.woff') format('woff'),
      url('../fonts/Fellix-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('../fonts/Fellix-Medium.woff2') format('woff2'),
      url('../fonts/Fellix-Medium.woff') format('woff'),
      url('../fonts/Fellix-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('../fonts/Fellix-Light.woff2') format('woff2'),
      url('../fonts/Fellix-Light.woff') format('woff'),
      url('../fonts/Fellix-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('../fonts/Fellix-Regular.woff2') format('woff2'),
      url('../fonts/Fellix-Regular.woff') format('woff'),
      url('../fonts/Fellix-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fellix';
  src: url('../fonts/Fellix-SemiBold.woff2') format('woff2'),
      url('../fonts/Fellix-SemiBold.woff') format('woff'),
      url('../fonts/Fellix-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

